@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primario: #0b1641;
  --secundario: #c70160;
  transition: .5s ease-in-out;
  scroll-behavior: smooth;
 }

 body {
  background: linear-gradient(
    45deg,
    var(--primario) 0%,
    var(--secundario) 100%
  );
  background-attachment: fixed;
}

/* div input[type="text" i] {
  min-width: 20%;
  max-height: 85%;
  margin: 0.2% 0 0 3.3%;
  border: none;
  padding: 0 0 0 40px;
  color: #8ea6be;
  background-color : #0a143e;
}

.react-search-box-dropdown {
  background-color: #0a143e !important;
  color: #FFF !important;
  position: absolute;
  margin: 0.2% 0 0 20%;
  width: 20% !important;
  min-width: 210px;
}

.react-search-box-dropdown ul li {
  border: none;
  background-color: #0a143e !important;
} */
